body{
    color:rgb(242, 234, 234);
    background-image:linear-gradient(rgb(56, 126, 148) 25%, black 55%);
}

.dropdown-item{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-button{
    float:right;
}


  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:grey;
  }
  

  h4{font-family: Trochut;
    font-size: 22px;
}
  

    
     ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
     }
      
     li {
       display: inline;
       float:right;}
     
       .title{
        text-align: center;
        font-family: "Spicy Rice";
        font-size: 60px;
    }
     .countries {
        color:white;
        font-family: "Spicy Rice", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding:50px;
        font-size: 50px;}

     .caption{
        color:white;
        text-align: center;
        font-family: Trochut, sans-serif;
        font-weight: 200px;
        font-style: normal;}
        

     .description{
        color:white;
        font-family: Trochut, sans-serif;
        font-weight: 600;
        font-style: normal; }

        p{  color:white;
            font-family: Trochut;
            font-weight: 600;
            font-style: normal;
            text-align: center;
         }
        
        
    .food{
        color:white;
        font-family: "Spicy Rice", serif;
        font-weight: 400;
        font-style: normal;
    }

        


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .space{
    padding-left: 450px;
  }

  .a{
    color:white;
    font-family: Trochut, sans-serif;
    font-weight: 200px;
    font-style: normal;
    font-size: 10px;
  }

  .captiona{
    color:white;
    text-align: center;
    font-family: Trochut, sans-serif;
    font-weight: 200px;
    font-style: normal;
    font-size: 40px;}


.link{
            width:50%;
            float:left;
            text-align: center;
          }

          img{
            width:525px;
            height:300px;
          }
